@charset "UTF-8";
/* CSS Document */

header {
	display: flex;
	margin: 5px 30px;
	font-family: Verdana;
  	font-size: 14px;
  	font-weight: bold;
  	color: MediumAquamarine;
	justify-content:space-between;
	align-items:center;
	}
	
#logo {
	display:flex;
	align-items: center;
	justify-content:space-around;
	}

#mytimes {
	margin: 10px;
	}
	
nav li {
	display: inline-block;
	width: 60px;
	text-align:center;
	}
	
nav a:link {
	color: black;
	}
	
main {
	display: flex;
	border: 1px solid black;
	}
	
.column {
	margin-right: 20px;
	margin-top: 20px;
	}	
	
.column.large {
	display: flex;
	flex-direction:column;
	width: 630px;
	}

div {
	border: 1px solid black;
	}

.column.medium {
  display: flex;
  flex-direction:column;
  width: 300px;
}

.column.small {
  width: 240px;
  display: flex;
  flex-direction:column;
}

#cookie_bite {
	display:block;
	height: 100%;
	width: 100%;
	}